
/*********************************************************/

#ListADT-Positions-CON { 
  height: 175px;
}

#ListADT-Positions-CON .jsavoutput.jsavline{
  height: 45px;
}

#ListADT-Positions-CON .jsavarray .jsavnode {
  border-color: #eed;
  background-color: #eed;
  line-height: 60px;
  min-height: 60px;
  max-height: 60px;
  font-size: 20px;
  box-shadow: 0 0 0;
  min-width: 40px !important;
  max-width: 40px !important;
}

/*********************************************************/

#StaticArrayList-Vars-CON {
  height: 280px;
}

#StaticArrayList-Vars-CON .jsavoutput.jsavline {
  height: 50px;
}

/*********************************************************/

#StaticArrayList-Intro-CON {
  height: 190px;
}

#StaticArrayList-Intro-CON .jsavoutput.jsavline {
  height: 40px;
}

/*********************************************************/

#StaticArrayList-Add-CON {
  height: 310px;
}

#StaticArrayList-Add-CON .jsavcode {
  margin-left: 300px;
  width: 500px;
}

#StaticArrayList-Add-CON .jsavlabel {
  margin-bottom: 0;
}

#StaticArrayList-Add-CON .jsavoutput.jsavline {
  height: 30px;
}

/*********************************************************/

#StaticArrayList-Append-CON {
  height: 270px;
}

#StaticArrayList-Append-CON .jsavcode {
  margin-left: 300px;
  width: 500px;
}

#StaticArrayList-Append-CON .jsavoutput.jsavline {
  height: 20px;
}

/*********************************************************/

#StaticArrayList-Remove-CON {
  height: 340px;
}

#StaticArrayList-Remove-CON .jsavcode {
  margin-left: 280px;
  width: 560px;
}

#StaticArrayList-Remove-CON .jsavoutput.jsavline {
  height: 30px;
}

/*********************************************************/

#DynamicArrayList-Append-CON {
  height: 320px;
}

#DynamicArrayList-Append-CON .jsavcode {
  margin-left: 300px;
  width: 500px;
}

#DynamicArrayList-Append-CON .jsavoutput.jsavline {
  height: 30px;
}

/*********************************************************/

#DynamicArrayList-Remove-CON {
  height: 380px;
}

#DynamicArrayList-Remove-CON .jsavcode {
  margin-left: 280px;
  width: 560px;
}

#DynamicArrayList-Remove-CON .jsavoutput.jsavline {
  height: 30px;
}

/*********************************************************/

#LinkedList-Overview-CON {
  height: 60px;
}

/*********************************************************/

#LinkedList-Iteration-CON {
  height: 240px;
}

/*********************************************************/

#LinkedList-Problems-CON {
  height: 240px;
}

#LinkedList-Problems-CON .jsavoutput.jsavline {
  height: 70px;
}

/*********************************************************/

#LinkedList-Add-CON .jsavcanvas {
  height: 340px;
}

#LinkedList-Add-CON .jsavoutput.jsavline {
  height: 30px;
}

#LinkedList-Add-CON .jsavcode {
  top: 145px;
  width: 600px;
  position: relative;
}

/*********************************************************/

#LinkedList-AddSpecial-CON .jsavcanvas {
  height: 340px;
}

#LinkedList-AddSpecial-CON .jsavoutput.jsavline {
  height: 30px;
}

#LinkedList-AddSpecial-CON .jsavcode {
  top: 145px;
  width: 600px;
  position: relative;
}

/*********************************************************/

#LinkedList-Remove-CON {
  height: 580px;
}

#LinkedList-Remove-CON .jsavoutput.jsavline {
  height: 30px;
}

#LinkedList-Remove-CON .jsavcode {
  position: relative;
  top: 150px;
  width: 540px;
}

/*********************************************************/

#DoublyLinkedList-CON .jsavcanvas {
  height: 95px;
}

/*********************************************************/
